  
#reset {background-color: white;margin-left: 3em;}
#reset:hover{background-color: red;}
img {max-width: 200px; max-height: 300px; display: none;}
body {width: 700px; margin: 0 auto; padding: 1em; font: 1em Arial; color: white; background-color: black;}
#response {font-weight: bold; font: 2em Arial; font-style: italic;}
button {padding: .5em; border: 2px solid black; background-color: red; font-weight: bold;}
button:hover {background-color: white;}
#startButton {background-color: white; color: red; font-weight: bold; font-size: 1.5em; border: 2px solid red; outline: 3px solid white; margin-right: 2em;}
#startButton:hover {background-color: red; color: white; font-weight: bold; font-size: 1.5em; border: 2px solid red; outline: 3px solid white; margin-right: 2em;}
© 2021 GitHub, Inc.
